.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45vw;
    margin: 10% auto;

    .signupbtn {
        text-align: center;
        border: 2px solid #F4D8CD;
        border-radius: 10px;
        padding: 3% 20%;
        width: 100%;
        max-width: 180px;
        color: #F4D8CD;
    }

    .loginbtn {
        text-align: center;
        border: 2px solid #F4D8CD;
        background-color: #F4D8CD;
        border-radius: 10px;
        padding: 3% 20%;
        color: #1E555C;
        width: 100%;
        max-width: 180px;
        margin-bottom: 5%;
    }
}